# Using docker compose since k8s pods don't play nicely with the vpn
---
services:
  gluetun:
    image: qmcgaw/gluetun
    container_name: gluetun
    # line above must be uncommented to allow external containers to connect.
    # See https://github.com/qdm12/gluetun-wiki/blob/main/setup/connect-a-container-to-gluetun.md#external-container-to-gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp  # HTTP proxy
      - 8388:8388/tcp  # Shadowsocks
      - 8388:8388/udp  # Shadowsocks
      - 8080:8080
      - ${FIREWALL_VPN_INPUT_PORT}:6881
      - ${FIREWALL_VPN_INPUT_PORT}:6881/udp
    volumes:
      - /srv/gluetun:/gluetun
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - VPN_TYPE=wireguard
      - TZ=${TZ}  # Timezone for accurate log times
      - WIREGUARD_PRIVATE_KEY=${WIREGUARD_PRIVATE_KEY}
      - WIREGUARD_PRESHARED_KEY=${WIREGUARD_PRESHARED_KEY}
      - WIREGUARD_ADDRESSES=${WIREGUARD_ADDRESSES}
      - FIREWALL_VPN_INPUT_PORTS=${FIREWALL_VPN_INPUT_PORT}
    restart: unless-stopped
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    user: "1000:1000"
    container_name: qbittorrent
    network_mode: "service:gluetun"
    environment:
      - TZ=America/Los_Angeles
      - WEBUI_PORT=8080
      - TORRENTING_PORT=6881
    volumes:
      - /srv/qBittorrent/config:/config
      - /srv/qBittorrent/logs:/logs
      - /srv/data/torrents:/data/torrents
      - /etc/passwd:/etc/passwd  # just so that username comes up when exec-ing in
    restart: unless-stopped
